<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% block title %} <title>Register Patient</title>{% endblock %}
<style>
    .register{
    background: -webkit-linear-gradient(left, #16a085, #0ef6c8);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #16a085;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #16a085;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #16a085;
    border: 2px solid #16a085;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
</style>
<script>
    function cancel(){
        window.location.href="/";  
    }
</script>
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="http://www.downloadclipart.net/large/37802-red-stethoscope-clipart.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>The art of medicine consists of amusing the patient while nature cures the disease.</p>
                        <input type="submit" name="" value="Cancel" onclick="cancel()"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Register a Patient</h3>
                                <form action="newPatient" method="post">{% csrf_token %}
                                    <div class="row register-form">
                                        <div class="col-md-12">
                                            {% if success %}
                                            <div class="alert alert-success" role="alert">
                                                Patient Successfully registered <a href="/healthcare/patientRecord/{{patientId}}" class="alert-link">Click here</a> to add his medical detail.
                                            </div>
                                            {% endif %}
                                            {% if message %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{message}}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="Name *" pattern="[a-zA-Z'-'\s]*" value="" required/>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" name="gender" required>
                    
                                                    <option class="hidden" value=""  selected disabled >Gender</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input placeholder="Date Of Birth *" type="text" name="dateOfBirth" class="form-control" value="" onfocus="(this.type='date')"
                                                onblur="(this.type='text')" required/>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" placeholder="Your Email *" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="" required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" minlength="10" maxlength="10" name="mobile" class="form-control" pattern="[0-9]+" placeholder="Your Phone *" value="" required/>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" name="bloodGroup" required >
                                                    <option class="hidden"  value="" selected disabled >Blood Group</option>
                                                    
                                                    <option value="A+">A+</option>
                                                    <option value="B+">B+</option>
                                                    <option value="O+">O+</option>
                                                    <option value="AB+">AB+</option>
                                                    <option value="A-">A-</option>
                                                    <option value="B-">B-</option>
                                                    <option value="O-">O-</option>
                                                    <option value="AB-">AB-</option>
                                                </select>
                                            </div>
                                            <input type="submit" class="btnRegister"  value="Register"/>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>